body{
    width:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body main{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

body main .banner{
    width: 100%;
}

/* Sections dentro de main */

body main .cont-1{
    width: 100%;
}

body main .cont-1 h2{
    text-align: center;
    font-size: 1.9rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Sections dentro de main 2 */

body main .cont-2{
    width: 100%;
}

body main .cont-2 .titulo{
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 3%;
}

body main .cont-2 .cont-home1{
    display: flex;
    flex-wrap: wrap;
}

body main .cont-2 .cont-home1 .novias{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body main .cont-2 .cont-home1 .novias h2{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body main .cont-2 .cont-home1 .novias img{
    width: 80%;
}

body main .cont-2 .cont-home1 .novios{
    width: 50%;
}

body main .cont-2 .cont-home1 .novios h2{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body main .cont-2 .cont-home1 .novios img{
    width: 90%;
}

body main .cont-2 .cont-home1 .quinceaneras{
    width: 50%;
}

body main .cont-2 .cont-home1 .quinceaneras h2{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body main .cont-2 .cont-home1 .quinceaneras img{
    width: 90%;
}

body main .cont-2 .cont-home1 .primeras_comuniones{
    width: 50%;
}

body main .cont-2 .cont-home1 .primeras_comuniones h2{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body main .cont-2 .cont-home1 .primeras_comuniones img{
    width: 90%;
}